services:
  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    container_name: whatsapp_scheduler_db
    restart: always
    ulimits:
      memlock: -1
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - dragonflydata:/data
    command: [
      "--requirepass=",
      "--cluster_mode=emulated",
      "--lock_on_hashtags",
      "--dir=/data",
      "--dbfilename=dump",
      "--snapshot_cron=0 */6 * * *"
    ]
volumes:
  dragonflydata:
